* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5f2c9;
  color: #352208;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  /* background-color: ##e5f2c9; */
  /* padding: 10px; */
}

.headerContent {
  display: flex;
  list-style: none;
  justify-content: space-around;
  vertical-align: middle;
  line-height: 50px;
  padding-top: 20px;
}
#newNoteLink {
  text-decoration: none;
  color: #352208;
}
.hidden {
  display: none;
}

.newNoteForm {
  background-color: #BFBFBF;
  margin: 10px;
}
.input-field {
  margin: 10px;
}

.note {
  margin: 10px;
  background-color: #c0c9ab;
  color: #352208;
  list-style: none;
}

.noteTitle {
  padding: 3px;
}

.noteText {
  padding: 10px;
}

.tags {
  list-style: none;
  display: flex;
}

.tag {
  padding: 10px;
}

.deleteLink{
    color: #AA4465;
}

.editLink{
    color: #352208;
    padding: 10px;
}
